@media screen and (max-width: 820px) {
    .container {
        width: 70%;
        position: static;
        margin: 50px auto;
        transform: none;
    }
    .card {
        width: 100%;
        padding-bottom: 15%;
        padding-top: 15%;
    }
    .modal {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .modal-content {
        padding: 40px 0;
        height: 400px;
        width: 80%;
        position: fixed;
    }
    .close {
        position: fixed;
        top: 22%;
        left: 83%;
    }
}

@media screen and (max-width: 680px) {
    .card {
        width: 100%;
        padding-bottom: 15%;
        padding-top: 15%;
    }
    p {
        width: 100%;
        margin: 0 auto;
        line-height: 2em;
    }
    button {
        margin-top: 50px;
    }
}